
<div class="row">
  <div class="span12">
    <img src="http://placehold.it/940x480" alt="">
  </div>
</div>

<div class="row">
 
  <div class="span5">
    <%= form_for(:session, url: sessions_path, html: { class: 'well form-inline', id: 'login-form' } ) do |f| %> 
        <%= f.email_field :email, placeholder: 'e-mail', class: 'input-small' %>
        <%= f.password_field :password, placeholder: 'kodeord', class: 'input-small' %>
        <button class="btn btn-success" name="commit" type="submit">
          <i class="icon-user icon-white"></i>
          Log ind
        </button>
<!--         <%= f.submit "Log ind", class: 'btn-success' %> -->
    <% end %>
  </div>

  <div class="span7">
    <%= form_for(User.new, html: { class: 'well form-inline', id: 'signup-form' } ) do |f| %> 
        <%= f.text_field :name, placeholder: 'navn i pas', class: 'input-small' %>
        <%= f.text_field :name, title: 'altså noget a la vampyren fra thisted', placeholder: 'kaldenavn', class: 'input-small' %>
        <%= f.text_field :email, placeholder: 'e-mail', class: 'input-small' %>
        <%= f.password_field :password, placeholder: 'kodeord', class: 'input-small' %>
        <button class="btn btn-warning" name="commit" type="submit">
          <i class="icon-plus icon-white"></i>
          Opret
        </button>
        <!--<%= f.submit "Opret", class: 'btn-warning' %> -->
     <% end %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <blockquote>
      <p>Jeg elsker at gætte</p>
      <small>Keld Heick</small>
    </blockquote>
  </div>
  <div class="span6">
    <blockquote class="pull-right">
      <p>Et stort gættespil? Fuck that - I'm out of here</p>
      <small>Madonna</small>
    </blockquote>
  </div>
</div>